.homePage {
  /* height: 600px; */
  background-image: url("../../assets/images/home-background.svg");
  background-repeat: no-repeat;
  background-position: 200px 140px;
}

.main {
  display: flex;
  flex-direction: row;
  gap: 0;
}
.productCard {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
  padding-top: 50px;
}
